<?xml version="1.0"?>
<launch>
   <include file="$(find hector_quadrotor_gazebo)/launch/quadrotor_empty_world.launch"/>
   <include file="$(find rob599_project)/launch/quadrotor.launch.xml"/>
   <!--<include file="$(find rob599_project)/launch/quadrotor_localization.launch.xml"/> -->
   <arg name="map_file" default="$(find rob599_project)/maps/mymap.yaml"/>
   <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
   <node pkg="rviz" type="rviz" name="rviz_hw1" args="-d $(find rob599_project)/config/hector_quadrotor.rviz" output="screen"/>
   <node pkg="rob599_project" type="controller.py" name="controller" output="screen"/>
</launch>
